<!DOCTYPE html>
<html>
<head>
    <title>Issue Tracker</title>
    <meta name="description" content="A cool thing made with HyperDev">
    <link id="favicon" rel="icon" href="https://hyperdev.com/favicon-app.ico" type="image/x-icon">
    <link rel="stylesheet" href="../public/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="container">
    <header>
        <h1>
            Issue Tracker
        </h1>
    </header>
    <div id='userstories' class="card">
        <h3>Example get usage:</h3>
        <code>/api/issues/{project}</code><br>
        <code>/api/issues/{project}?open=true&amp;assigned_to=Joe</code><br>
        <h3>Example return:</h3>
        <code>[{"_id":"5871dda29faedc3491ff93bb","issue_title":"Fix error in posting data","issue_text":"When we post data it has an error.","created_on":"2017-01-08T06:35:14.240Z","updated_on":"2017-01-08T06:35:14.240Z","created_by":"Joe","assigned_to":"Joe","open":true,"status_text":"In QA"},...]</code>

        <a href='/apitest/'>
            <button type="button" class="btn btn-primary">EXAMPLE</button>
        </a>
    </div>

    <div id='testui' class="card">
        <div class="card-header">
            <h2>API Tests</h2>
        </div>

        <div class="card-body">
            <h3 class="card-title mb-2 text-muted">Submit issue on <i>apitest</i></h3>
            <form id="testForm">
                <input type="text" name="issue_title" placeholder="*Title" required=''><br>
                <textarea type="text" name="issue_text" placeholder="*Text" required=''></textarea><br>
                <input type="text" name="created_by" placeholder="*Created by" required=''><br>
                <input type="text" name="assigned_to" placeholder="(opt)Assigned to"><br>
                <input type="text" name="status_text" placeholder="(opt)Status text"><br>
                <button type="submit">Submit Issue</button>
            </form>
        </div>

        <div class="card-body">
            <h3 class="card-subtitle mb-2 text-muted">Update issue on <i>apitest</i></h3>
            <form id="testForm2">
                <input type="text" name="_id" placeholder="*_id" required=''><br>
                <input type="text" name="issue_title" placeholder="(opt)Title"><br>
                <textarea type="text" name="issue_text" placeholder="(opt)Text"></textarea><br>
                <input type="text" name="created_by" placeholder="(opt)Created by"><br>
                <input type="text" name="assigned_to" placeholder="(opt)Assigned to"><br>
                <input type="text" name="status_text" placeholder="(opt)Status text"><br>
                <label><input type="checkbox" name="open" value=false> Check to close issue</label><br>
                <button type="submit">Submit Issue</button>
            </form>
        </div>

        <div class="card-body">
            <h3 class="card-subtitle mb-2 text-muted">Delete issue on <i>apitest</i></h3>
            <form id="testForm3">
                <input type="text" name="_id" placeholder="_id" required=''><br>
                <button type="submit">Delete Issue</button>
            </form>
            <code id='jsonResult'></code>
        </div>
    </div>
</div>


<script src="../client/index.js"></script>

</body>
</html>
