<!DOCTYPE html>
<html>
<head>
    <title>Issue Tracker</title>
    <meta name="description" content="A cool thing made with HyperDev">
    <link rel="stylesheet" href="../public/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div class="user-feedback" id="user-feedback">
    <div></div>
</div>

<div class="container">
    <header id="header">
        <h1 id="title" class="alert alert-info">
            Issue Tracker CRUD API
        </h1>
    </header>

    <div id='testui' class="card">
        <div class="card-header alert alert-info">
            <h2>API Tests</h2>
        </div>

        <div class="card-body">
            <h3 class="card-title mb-2 text-muted">Submit New Issue</h3>
            <form id="createIssuesForm">
                <div class="form-group">
                    <input class="form-control" type="text" name="issue_title" id="issue_title_create" placeholder="*Title" required><br>
                    <textarea class="form-control" type="text" name="issue_text" id="issue_text_create" placeholder="*Text" required></textarea><br>
                    <input class="form-control" type="text" name="created_by" id="created_by_create" placeholder="*Created by" required><br>
                    <input class="form-control" type="text" name="assigned_to" id="assigned_to_create" placeholder="(opt)Assigned to"><br>
                    <input class="form-control" type="text" name="status_text" id="status_text_create" placeholder="(opt)Status text"><br>
                    <button class="btn btn-outline-secondary" type="submit">Submit Issue</button><br>
                </div>
            </form>
        </div>

        <div class="card-body">
            <h3 class="card-subtitle mb-2 text-muted">Update an Issue</h3>
            <form id="updateIssuesForm">
                <div class="form-group">
                    <input class="form-control" type="text" name="_id" id="id_update" placeholder="*_id" required><br>
                    <input class="form-control" type="text" name="issue_title" id="title_update" placeholder="(opt)Title"><br>
                    <textarea class="form-control" type="text" name="issue_text" id="text_update" placeholder="(opt)Text"></textarea><br>
                    <input class="form-control" type="text" name="created_by" id="created_by_update" placeholder="(opt)Created by"><br>
                    <input class="form-control" type="text" name="assigned_to" id="assigned_to_update" placeholder="(opt)Assigned to"><br>
                    <input class="form-control" type="text" name="status_text" id="status_text_update" placeholder="(opt)Status text"><br>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="close_issue" id="close_issue_update">
                        <label class="form-check-label" for="close_issue_update">
                            Check to close issue
                        </label>
                    </div><br>
                    <button class="btn btn-outline-secondary" type="submit">Submit Issue</button><br>
                </div>
            </form>
        </div>

        <div class="card-body">
            <h3 class="card-subtitle mb-2 text-muted">Delete an Issue</h3>
            <form id="deleteIssuesForm" class="form-inline">
                <div class="form-group">
                    <input class="form-control" type="text" name="_id" id="id_delete" placeholder="_id" required style="margin-right: 10px">
                    <button class="btn btn-outline-secondary" type="submit">Delete Issue</button>
                </div>
            </form>

            <!--Can change this to display: block when result comes in-->
            <ul class="breadcrumb" style="display: none">
                <li class="breadcrumb-item">
                    <code id='jsonResult'></code>
                </li>
            </ul>
        </div>
    </div>

    <div id='userstories' class="card">
        <div class="card-header alert alert-info">
            <h2>Get Issues</h2>
        </div>
        <div class="card-body">
            <form id="getIssuesForm">
                <div class="form-group">
                    <label for="assigned_to">Get assigned issues</label>
                    <input id="assigned_to" class="form-control" type="text" name="assigned_to" placeholder="Ex: Joe"><br>
                    <div class="form-check">
                        <input type="checkbox" name="open_issues" class="form-check-input" id="openIssueCheck">
                        <label class="form-check-label" for="openIssueCheck">Open Issues</label>
                    </div><br>
                    <button class="btn btn-outline-secondary" type="submit">Get Issues</button><br>
                </div>
            </form><br>

            <h3 class="card-subtitle mb-2 text-muted">Issues</h3>
            <div id="issues-list"></div>
        </div>
    </div>
</div>

</body>
</html>
