* {
    margin: 0px;
    padding: 0px;
}

body {
    padding: 10px;
}

#header {
    display: flex;
    justify-content: space-between;
}

#scroll-to-userStories {
    align-self: center;
}

.issue {
    margin: 20px;
    padding: 5px;
    width: 60%;
    border: 2px solid black;
}

.closed {
    background-color: lightgrey;
}

.id {
    font-size: 10.5px;
}

.card {
    margin-top: 1em;
    margin-bottom: 1em;
}

.form-group {
    width: 50%;
    min-width: 250px;
}
